In [36]:
import sqlite3

In [49]:
# Step 1: Connect to petsDB
db_path = 'C:/Users/mattl/OneDrive/Documents/GitHub/DSC540/petsdb'  
connection = connect_to_database(db_path)

Connection to database successful

In [50]:
def connect_to_database(db_path):
    try:
        connection = sqlite3.connect(db_path)
        print("Connection to database successful")
        return connection
    except sqlite3.Error as e:
        print(f"Error connecting to database: {e}")
        return None

In [51]:
# Step 2: Find different age groups
query = "SELECT DISTINCT age FROM persons;"
age_groups = execute_query(connection, query)
print("\nStep 2: Different Age Groups")
print(age_groups)

Step 2: Different Age Groups
[(22,), (73,), (70,), (31,), (7,), (54,), (14,), (49,), (68,), (42,), (62,), (44,), (36,), (35,), (71,), (23,), (63,), (52,), (59,), (25,), (40,), (5,), (34,), (48,), (13,), (39,), (18,), (19,), (51,), (8,), (61,), (17,), (32,), (65,), (16,), (11,), (24,), (12,), (30,), (50,), (72,), (9,), (33,), (27,), (58,), (67,), (60,), (53,), (74,), (37,), (66,), (6,), (69,)]

In [52]:
# Step 3: Find age group with the maximum number of people
query = "SELECT age, COUNT(*) as count FROM persons GROUP BY age ORDER BY count DESC LIMIT 1;"
max_age_group = execute_query(connection, query)
print("\nStep 3: Age Group with Maximum People")
print(max_age_group)

Step 3: Age Group with Maximum People
[(73, 5)]

In [53]:
# Step 4: Find people without a last name
query = "SELECT * FROM persons WHERE last_name IS NULL;"
no_last_name_people = execute_query(connection, query)
print("\nStep 4: People without Last Name")
print(no_last_name_people)

Step 4: People without Last Name
[(1, 'Erica', None, 22, 'south port', 2345678), (2, 'Jordi', None, 73, 'east port', 123456), (3, 'Chasity', None, 70, 'new port', 76856785), (4, 'Gregg', None, 31, 'new port', 76856785), (6, 'Cary', None, 73, 'new port', 76856785), (8, 'Francisca', None, 14, 'west port', 123456), (10, 'Raleigh', None, 68, 'new port', 2345678), (11, 'Maria', None, 42, 'west port', 123456), (12, 'Mariane', None, 62, 'south port', 9756543), (13, 'Mona', None, 44, 'south port', 76856785), (14, 'Kayla', None, 36, 'south port', 2345678), (15, 'Karlie', None, 35, 'west port', 123456), (16, 'Morris', None, 71, 'west port', 76856785), (17, 'Sandy', None, 23, 'east port', 2345678), (18, 'Hector', None, 63, 'east port', 9756543), (19, 'Hiram', None, 52, 'west port', 2345678), (20, 'Tressa', None, 59, 'new port', 123456), (21, 'Berry', None, 22, 'south port', 2345678), (22, 'Pearline', None, 73, 'new port', 9756543), (23, 'Maynard', None, 25, 'east port', 123456), (24, 'Dorian', None, 40, 'east port', 123456), (25, 'Mylene', None, 5, 'east port', 76856785), (26, 'Lafayette', None, 34, 'new port', 2345678), (29, 'Tara', None, 39, 'west port', 123456), (30, 'Destiny', None, 18, 'south port', 2345678), (31, 'Lesly', None, 31, 'west port', 123456), (32, 'Perry', None, 19, 'south port', 76856785), (35, 'Maritza', None, 73, 'east port', 9756543), (37, 'Grant', None, 61, 'east port', 76856785), (39, 'Laury', None, 17, 'east port', 9756543), (40, 'Name', None, 52, 'east port', 9756543), (41, 'Estefania', None, 32, 'new port', 76856785), (42, 'Destiney', None, 65, 'west port', 2345678), (43, 'Jaquelin', None, 73, 'west port', 9756543), (45, 'Alfonzo', None, 16, 'east port', 2345678), (46, 'Lisandro', None, 11, 'new port', 76856785), (49, 'Priscilla', None, 65, 'east port', 76856785), (50, 'Elenora', None, 11, 'new port', 76856785), (52, 'Rudolph', None, 14, 'east port', 76856785), (56, 'Ona', None, 35, 'east port', 9756543), (57, 'Rebeca', None, 50, 'new port', 76856785), (59, 'Sigurd', None, 12, 'west port', 76856785), (63, 'Alice', None, 8, 'west port', 76856785), (64, 'Dane', None, 24, 'west port', 9756543), (65, 'Judge', None, 17, 'south port', 76856785), (66, 'Allene', None, 9, 'new port', 9756543), (67, 'Jalen', None, 33, 'new port', 2345678), (70, 'Myron', None, 36, 'new port', 9756543), (73, 'Travon', None, 16, 'south port', 2345678), (74, 'Shayna', None, 60, 'new port', 2345678), (75, 'Myah', None, 14, 'east port', 2345678), (82, 'Letha', None, 44, 'new port', 9756543), (84, 'Felton', None, 74, 'east port', 2345678), (85, 'London', None, 66, 'east port', 9756543), (86, 'Koby', None, 31, 'west port', 9756543), (87, 'Golden', None, 35, 'east port', 76856785), (89, 'Anissa', None, 8, 'south port', 76856785), (91, 'Sid', None, 22, 'west port', 123456), (96, 'Ernesto', None, 69, 'east port', 9756543), (97, 'Josianne', None, 14, 'west port', 76856785)]

In [54]:
# Step 5: Find people with more than one pet
query = "SELECT p.first_name, p.last_name, COUNT(*) as pet_count " \
        "FROM persons p JOIN pets pet ON p.id = pet.owner_id GROUP BY p.id HAVING pet_count > 1;"
multiple_pets_owners = execute_query(connection, query)
print("\nStep 5: People with More Than One Pet")
print(multiple_pets_owners)

Step 5: People with More Than One Pet
[('Jordi', None, 3), ('Tony', 'Lindgren', 3), ('Cary', None, 2), ('Gabe', 'Thompson', 3), ('Katelyn', 'Torphy', 2), ('Raleigh', None, 3), ('Mona', None, 2), ('Kayla', None, 2), ('Morris', None, 2), ('Hector', None, 2), ('Tressa', None, 2), ('Berry', None, 3), ('Dorian', None, 2), ('Mylene', None, 3), ('Lafayette', None, 2), ('Friedrich', 'Wunsch', 5), ('Domenica', 'Lakin', 2), ('Lesly', None, 2), ('Keyon', 'Upton', 3), ('Maritza', None, 3), ('Ivory', 'Sawayn', 3), ('Grant', None, 4), ('Salma', 'Terry', 2), ('Laury', None, 2), ('Name', None, 4), ('Destiney', None, 3), ('Jaquelin', None, 3), ('Alfonzo', None, 2), ('Timmothy', 'Tillman', 2), ('Priscilla', None, 2), ('Elenora', None, 3), ('Wendell', 'Sauer', 3), ('Gabriella', 'Kertzmann', 2), ('Ona', None, 5), ('Rebeca', None, 3), ('Lou', 'Bradtke', 2), ('Nicklaus', 'Purdy', 3), ('Dane', None, 3), ('Jalen', None, 2), ('Koby', None, 2), ('Hilma', 'Waelchi', 3), ('Otilia', 'Gleason', 3), ('Adrian', 'Schinner', 2)]

In [55]:
# Step 6: Find pets that received treatment
query = "SELECT COUNT(*) FROM pets WHERE treatment_done = 1;"
treated_pets_count = execute_query(connection, query)
print("\nStep 6: Pets that Received Treatment")
print(treated_pets_count)

Step 6: Pets that Received Treatment
[(36,)]

In [56]:
# Step 7: Find pets that received treatment and have a known type
query = "SELECT COUNT(*) FROM pets WHERE treatment_done = 1 AND pet_type IS NOT NULL;"
treated_pets_known_type_count = execute_query(connection, query)
print("\nStep 7: Treated Pets with Known Type")
print(treated_pets_known_type_count)

Step 7: Treated Pets with Known Type
[(16,)]

In [57]:
# Step 8: Find pets from the city called east port
query = "SELECT COUNT(*) FROM pets p JOIN persons per ON p.owner_id = per.id WHERE per.city = 'east port';"
east_port_pets_count = execute_query(connection, query)
print("\nStep 8: Pets from East Port")
print(east_port_pets_count)

Step 8: Pets from East Port
[(49,)]

In [58]:
# Step 9: Find pets from the city called east port that received treatment
query = "SELECT COUNT(*) FROM pets p JOIN persons per ON p.owner_id = per.id " \
        "WHERE per.city = 'east port' AND p.treatment_done = 1;"
treated_east_port_pets_count = execute_query(connection, query)
print("\nStep 9: Treated Pets from East Port")
print(treated_east_port_pets_count)

Step 9: Treated Pets from East Port
[(11,)]